body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: "Roboto";
	font-size: 13px;
	line-height: 24px;
}

a {
	color: 0xff0a8d;
	text-decoration: none;
	font-size:90px;
	text-align:left;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	font-family: "Roboto";
	top: 10px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	font-size:90px;
	z-index: 1; /* TODO Solve this in HTML */
	pointer-events:auto;

}
#plussign{
	position:fixed;
	font-family: "Roboto";
	color: 0xff0a8d;
	bottom: 30px;
	right:30px;
	font-size:100px;
	text-align:right;
	pointer-events:auto;
}

/* .dg.ac {
	z-index: 2 !important; /* TODO Solve this in HTML */
}
 */
#container {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	/* user-select: none; */
	/* pointer-events: none; */
	z-index: -99;} 
